
@{
    ViewData["Title"] = "SolidBoardReportCWView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>SolidBoardReportCWView</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<body>
<form>
    <!-- <ul class="nav navbar-nav navbar-right">

        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
        <li></li>
    </ul>
    <button type="submit" class="btn btn-info btn-sm">Wyświetl ostatni raport</button>-->
    <button type="submit" class="btn btn-info btn-sm" asp-controller="Report" asp-action="ShowLastRepCwTf">Wyświetl ostatni raport</button>
    <button type="submit" class="btn btn-info btn-sm" asp-controller="Report" asp-action="CreateReportCwTf">Wygeneruj nowy raport</button>
</form>



<table class="table  table-striped table-bordered jambo_table">
    <thead>
    <tr>
        <th>Rok</th>
        <th>Miesiąc</th>
        <th>Zakup</th>
        <th>Sprzedaż</th>
        <th>Różnica</th>
        <th>Różnica archiwum</th>
        <th><b>Punkty FSC</b></th>
    </tr>
    </thead>
    <tbody>
    @try
    {

        foreach (ReportCwTf result in Model)
        {
            <tr>
                <td>@result.DateYear</td>
                <td>@result.DateMonth</td>
                <td>@result.PurchasePoints</td>
                <td>@result.SalesPoints</td>
                <td>@result.DifferencePoints</td>
                <td>@result.OldDifferencePoints</td>
                <td>@result.AmountOfPoints</td>
                <td class=" last"><a href="#">View</a></td>
            </tr>
        }
    }
    catch { }

    </tbody>
</table>
</body>
