@{
    ViewData["Title"] = "SolidBoardReportCWView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SolidBoardReportCWView</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<body>

   <!-- <form asp-controller="Report" asp-action="AddCertificateParameter" method="post">
        <div class="form-group">
            <label asp-for="CertificateName" class="control-label">Klient: </label>
            <input asp-for="CertificateName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CertificateName" class="control-label">Od: </label>
            <input asp-for="CertificateName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CertificateName" class="control-label">Do: </label>
            <input asp-for="CertificateName" class="form-control" />
        </div>
        <button type="submit" class="btn btn-info btn-sm">Wyświetl raport</button>
    </form>
    <form asp-controller="Report" asp-action="CreateReportCwTp"> 
        <button type="submit" class="btn btn-info btn-sm">Odśwież dane</button>
    </form>

       -->

<table class="table  table-striped table-bordered jambo_table">
    <thead>
    <tr>
        <th>Rok</th>
        <th>Miesiąc</th>
        <th>Zakup</th>
        <th>Sprzedaż</th>
        <th>Różnica</th>
        <th>Różnica archiwum</th>
        <th><b>Punkty CW</b></th>
    </tr>
    </thead>
    <tbody>
    @try
    {

        foreach (ReportCwTp result in Model)
        {
            <tr>
                <td>@result.DateYear</td>
                <td>@result.DateMonth</td>
                <td>@result.PurchasePoints</td>
                <td>@result.SalesPoints</td>
                <td>@result.DifferencePoints</td>
                <td>@result.OldDifferencePoints</td>
                <td>@result.AmountOfPoints</td>
                <td class=" last"><a href="#">View</a></td>
            </tr>
        }
    }
    catch
    {
    }

    </tbody>
</table>
</body>

