
@{
    ViewData["Title"] = "Parametry certyfikatu";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>CertyficateFactorView</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<body>
    <form>
        <button type="submit" class="btn btn-info btn-sm" asp-controller="Parameter" asp-action="AddCertificateParameter">Dodaj certyfikat</button>
    </form>
<table class="table  table-striped table-bordered jambo_table">
    <thead>
        <tr>
            <th>Certyfikat</th>
            <th>Współczynnik FSC</th>
            <th>Współczynnik CW</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @try
    {
        foreach (CertificateParameters result in Model)
        {
        <tr>
            <td>@result.CertificateName</td>
            <td>@result.ParameterFsc</td>
            <td>@result.ParameterCw</td>
            <td>@Html.ActionLink("Edytuj","EditCertificateParameter","Parameter",new{certNameParam =result.CertificateName, valueFscParam=result.ParameterFsc, valueCwParam=result.ParameterCw})</td>
            <td>@Html.ActionLink("Usuń","DeleteCertificateParameter","Parameter",new{id=result.Id, certNameParam = result.CertificateName, valueFscParam = result.ParameterFsc, valueCwParam = result.ParameterCw },new{@style="color: red"})</td>
            <!--certNameParam =result.CertificateName, valueFscParam=result.ParameterFsc, valueCwParam=result.ParameterCw -->
        </tr>
        }
    }
    catch
    {
    }

    </tbody>
</table>
</body>

   

