

@{
    ViewData["Title"] = "Usuwanie współczynnika wydajności";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>@ViewData["Title"]</title>
</head>

<body>
<h1>Usuwanie współczynnika wydajności</h1>
<br>
<h2>@ViewData["Message"]</h2>
<hr />
<h3>Czy na pewno chesz usunąć te współczynniki?</h3>
<br/>
<div>
    <h3>Informacje o współczynnikach: </h3>
    @foreach (PerformanceParameters value in Model)
    {
        <p><b>Rok: </b>@value.YearOfDocument</p>
        <p><b>Miesiąc: </b>@value.MonthOfDocument</p>
        <p><b>Współczynnik TP: </b>@value.Tlperformance</p>
        <p><b>Współczynnik TF: </b>@value.Tfperformance</p>

        <form asp-action="DeletePerformanceParameter" method="post">
            <input type="hidden" name="idParam" asp-for="@value.Id" />
            <input type="hidden" name="yearParam" asp-for="@value.YearOfDocument" />
            <input type="hidden" name="monthParam" asp-for="@value.MonthOfDocument" />
            <br />
            <input type="submit" value="Usuń" class="btn btn-primary" />
            <a asp-action="PerformanceParametersForm" class="btn btn-primary" style="width:auto">Anuluj</a>
        </form>
    }
</div>
</body>
