@using Microsoft.AspNetCore.Rewrite.Internal.ApacheModRewrite
@model List<CertificateParameters>

@{
    ViewData["Title"] = "Usuwanie certyfiaktu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>@ViewData["Title"]</title>
</head>

<body>
<h1>Usuwanie certyfikatu</h1>
<br>
<h2>@ViewData["Message"]</h2>
<hr />
<h3>Czy na pewno chesz usunąć ten certyfikat?</h3>
<br/>
<div>
    <h3>Informacje o certyfikacie: </h3>
    @foreach (var value in Model)
    {
        <p><b>Nazwa certyfikatu: </b>@value.CertificateName</p>
        <p><b>Parametr FSC: </b>@value.ParameterFsc</p>
        <p><b>Parametr CW: </b>@value.ParameterCw</p>

        <form asp-controller="Parameter" asp-action="DeleteCertificateParameter" method="post">
            <input type="hidden" name="idParam" value=@value.Id />
            <input type="hidden" name="nameParam" value=@value.CertificateName />
            <br />
            <input type="submit" value="Usuń" class="btn btn-primary" />
            <a asp-action="CertificateParametersForm" class="btn btn-primary" style="width:auto">Anuluj</a>
        </form>
    }


</div>
</body>
