@using System.ComponentModel.DataAnnotations.Schema
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h2>RoleList</h2>

    <form>
        <button type="submit" class="btn btn-info btn-sm" asp-controller="Administration" asp-action="AddRole">Dodaj rolę</button>
    </form>


    @if (Model.Any())
{
    <table class="table  table-striped table-bordered jambo_table">
        <thead>
            <tr>
                <th>Nazwa roli</th>
                <th>ID</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @try
    {
        foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>@role.Id</td>
                <td>@Html.ActionLink("Użytkownicy", "ManageRoles", "Administration")</td>
                <td>@Html.ActionLink("Edytuj", "EditRole", "Administration", new{id = role.Id})</td>
                <td>@Html.ActionLink("Usuń", "ManageRoles", "Administration", new {@style = "color: red"})</td>
            </tr>
        }
    }
    catch
    {

    }
        </tbody>
    </table>
}
    else
    {

    }
</body>

